<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="es">
<head>
    <title>Crear Comercial</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>
<div class=" d-flex justify-content-center">
    <div class="w-25">
        <form th:action="@{/comerciales/crear}" th:object="${comercial}" method="post">
            <div class="form-group">
                <label for="nombre" th:text="#{nombre}">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre">
                <ul class="text-danger" th:if="${#fields.hasErrors('nombre')}">
                    <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="ape1" th:text="#{apell1}">Apellido1</label>
                <input type="text" class="form-control" id="ape1" th:field="*{apellido1}" placeholder="Primer Apellido">
                <ul class="text-danger" th:if="${#fields.hasErrors('apellido1')}">
                    <li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="ape2" th:text="#{apell2}">Apellido2</label>
                <input type="text" class="form-control" id="ape2" placeholder="Segundo Apellido"
                       th:field="*{apellido2}">
                <ul class="text-danger" th:if="${#fields.hasErrors('apellido2')}">
                    <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="comision" th:text="#{comercialCom}">Comisión</label>
                <input type="text" class="form-control" id="comision" placeholder="Comisión" th:field="*{comision}">
                <ul class="text-danger" th:if="${#fields.hasErrors('comision')}">
                    <li th:each="err : ${#fields.errors('comision')}" th:text="${err}"></li>
                </ul>
            </div>
            <a th:href="@{/comerciales}" class="btn btn-info"> <i class="fas fa-arrow-left  "></i>
                <th:block th:text="#{btnVolver}"></th:block>
            </a>
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane  "></i>
                <th:block th:text="#{btnEnviar}"></th:block>
            </button>
        </form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>