<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Detalle Cliente</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>
<div class="d-flex justify-content-center align-items-center">
    <div class="w-25 d-flex flex-column justify-content-center align-items-center p-2">
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" th:text="'ID: ' + ${cliente.id}"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="#{nombre} + ' ' + ${cliente.nombre}">ape1</li>
                <li class="list-group-item" th:text="#{apell1} + ' ' + ${cliente.apellido1}">ape2</li>
                <li class="list-group-item" th:text="#{apell2} + ' ' + ${cliente.apellido2}">ape2</li>
                <li class="list-group-item" th:text="#{clienteCiudad} + ' ' + ${cliente.ciudad}">city</li>
                <li class="list-group-item" th:text="#{clienteCat} + ' ' + ${cliente.categoria}">cat</li>
                <li class="list-group-item" th:text="${cliente.pedidosTrimestre} + ' ' + #{pedidos.trimestre}">cat</li>
                <li class="list-group-item" th:text="${cliente.pedidosSemestre} + ' ' + #{pedidos.semestre}">cat</li>
                <li class="list-group-item" th:text="${cliente.pedidosAnio} + ' ' + #{pedidos.anio}">cat</li>
                <li class="list-group-item" th:text="${cliente.pedidosLustro} + ' ' + #{pedidos.lustro}">cat</li>

            </ul>

        </div>
        <a href="/clientes" class="btn btn-info m-2"> <i class="fas fa-arrow-left  "></i>
            <th:block th:text="#{btnVolver}"></th:block>
        </a>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="w-25">
        <div class="row d-flex justify-content-center align-items-center">
            <h1 class="text-center" th:text="#{comercial}">Comerciales Asociados</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" th:text="#{pediCom}">ID Comercial</th>
                <th scope="col" th:text="#{total.pedido}">Conteo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comercial : ${cliente.comercialesAsociados}">
                <th scope="row" th:text="${comercial.key}">a</th>
                <td th:text="${comercial.value}">a</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>