<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title th:text="#{pedido}">Pedidos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>

<div class="d-flex justify-content-center">
    <div class="w-75">
        <!-- Cabecera de tabla -->
        <div class="row d-flex justify-content-center align-items-center">
            <h1 class="text-center" th:text="#{pedido}"></h1>
            <div class="col-md-4 align-self-center">
                <!-- Botones para cambiar de idioma -->
                <button class="btn btn-primary" th:text="#{lang.espaniol}"
                        onclick="window.location.href='http://localhost:8080/pedidos?lang=es'">
                </button>
                <button class="btn btn-danger" th:text="#{lang.ingles}"
                        onclick="window.location.href='http://localhost:8080/pedidos?lang=en'">
                </button>
            </div>
            <!-- FORM CREAR -->
            <form th:action="@{/comerciales/crear}" class="p-3">
                <input type="hidden" name="id"/>
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> &ensp;
                    <th:block th:text="#{btnCrear}"></th:block>
                </button>
            </form>
        </div>

        <!-- Cuerpo de la tabla -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" th:text="#{idPedido}">ID</th>
                <th scope="col" th:text="#{totalPed}">Nombre</th>
                <th scope="col" th:text="#{fechaPed}">Apellido1</th>
                <th scope="col" th:text="#{pediCli}">Apellido2</th>
                <th scope="col" th:text="#{pediCom}">Comisión</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido : ${listaPedidos}">
                <th scope="row" th:text="${pedido.id}">Título</th>
                <td th:text="${pedido.total}">Título</td>
                <td th:text="${pedido.fecha}">Autor</td>
                <td th:text="${pedido.idCliente}">Título</td>
                <td th:text="${pedido.idComercial}">Autor</td>

                <!--                <td>-->
                <!--                    <form method="get" th:action="@{/pedidos/editar/__${pedido.id}__}">-->
                <!--                        <input type="hidden" name="id"/>-->
                <!--                        <button type="submit" class="btn btn-secondary"><i class="fas fa-pen"></i>&ensp;Editar</button>-->
                <!--                    </form>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <form method="get" th:action="@{/pedidos/__${pedido.id}__}">-->
                <!--                        <input type="hidden" name="id"/>-->
                <!--                        <button type="submit" class="btn btn-info"><i class="fas fa-info"></i>&ensp;Ver Detalles-->
                <!--                        </button>-->
                <!--                    </form>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <form th:method="post" th:action="@{/pedidos/borrar/__${pedido.id}__}">-->
                <!--                        <button type="button" class="btn btn-danger" data-toggle="modal"-->
                <!--                                th:data-target="'#modal' + ${pedido.id}"><i class="fas fa-trash"></i>&ensp;Borrar-->
                <!--                        </button>-->
                <!--                        &lt;!&ndash; Modal &ndash;&gt;-->
                <!--                        <div class="modal fade" th:id="'modal' + ${pedido.id}" tabindex="-1" role="dialog"-->
                <!--                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
                <!--                            <div class="modal-dialog modal-dialog-centered" role="document">-->
                <!--                                <div class="modal-content">-->
                <!--                                    <div class="modal-header">-->
                <!--                                        <h5 class="modal-title" id="exampleModalLongTitle">¿Está seguro de que quiere-->
                <!--                                            borrar este comercial?</h5>-->
                <!--                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--                                            <span aria-hidden="true">&times;</span>-->
                <!--                                        </button>-->
                <!--                                    </div>-->

                <!--                                    <div class="modal-body" th:text="'Cliente con ID: '+ ${comercial.id}">-->

                <!--                                    </div>-->
                <!--                                    <div class="modal-footer">-->
                <!--                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">-->
                <!--                                            No, cancelar.-->
                <!--                                        </button>-->
                <!--                                        <button type="submit" class="btn btn-primary">Sí, continuar.</button>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </form>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>